.vs/
src/Abstractions/bin/
src/Abstractions/obj/
src/Core/bin/
src/Core/obj/
src/Domain/bin/
src/Domain/obj/
src/Services/CandlesWorker/bin/
src/Services/CandlesWorker/obj/
src/Services/TradesWorker/bin/
src/Services/TradesWorker/obj/
src/Site/obj/
src/Services/TradingProcessor/obj/
src/Services/TradingProcessor/bin/
src/Services/OrdersProcessor/obj/
src/Services/OrdersProcessor/bin/
src/Site/bin/
src/Backoffice/bin/
src/Backoffice/obj/
src/services/DealsWorker/bin/
src/services/DealsWorker/obj/
src/Tests/bin/
src/Tests/obj/
src/services/DealsWorker/internal-nlog.txt
src/Services/Bitmex/obj/
src/Services/Binance/obj/
src/Contracts/obj/
src/Backend/Persistence/obj/
src/Backend/Persistence.PostgreSQL/obj/
src/Backend/Core/obj/
.idea/
src/TechanCore/obj/
src/Contracts/bin/Debug/netstandard2.1/Contracts.deps.json
src/Contracts/bin/
src/Services/Binance/bin/
src/Services/Bitmex/bin/
src/Backend/Persistence/bin/
src/TechanCore/bin/
src/Backend/Persistence.PostgreSQL/bin/
src/Backend/Core/bin/
src/Backoffice/Site/obj/Debug/netcoreapp3.1/staticwebassets/Site.StaticWebAssets.xml
src/Backoffice/Site/obj/Debug/netcoreapp3.1/Site.RazorAssemblyInfo.cache
src/Backoffice/Site/obj/
src/Backoffice/Site/bin/
src/Backend/Abstractions/bin/
src/Backend/Abstractions/obj/
src/Backend/Silo/bin/
src/Backend/Silo/obj/
src/Common/obj/
