.vs/
src/Abstractions/bin/
src/Abstractions/obj/
src/Core/bin/
src/Core/obj/
src/Domain/bin/
src/Domain/obj/
src/Services/CandlesWorker/bin/
src/Services/CandlesWorker/obj/
src/Services/TradesWorker/bin/
src/Services/TradesWorker/obj/
src/Site/obj/
src/Services/TradingProcessor/obj/
src/Services/TradingProcessor/bin/
src/Services/OrdersProcessor/obj/
src/Services/OrdersProcessor/bin/
src/Site/bin/
src/Backoffice/bin/
src/Backoffice/obj/
src/services/DealsWorker/bin/
src/services/DealsWorker/obj/
src/Tests/bin/
src/Tests/obj/
src/services/DealsWorker/internal-nlog.txt
.idea/
src/Backend/Abstractions/obj/
src/Backend/Core/obj/
src/Backend/Persistence.PostgreSQL/obj/
src/Backend/Persistence/obj/
src/Backend/Silo/obj/
src/Backoffice/site/node_modules/
src/Contracts/bin/
src/Contracts/obj/
src/Services/Binance/bin/
src/Services/Binance/obj/
src/Services/Bitmex/obj/
src/TechanCore/obj/
src/Backoffice/site/.vscode/
