@{
	ViewData["Title"] = "Markets overview";
}


<div class="row">
	<div id="chart-container" class="col-9 tradingview-widget-container">
		<div id="tradingview_bf836"></div>
	</div>
	<div class="col-3">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							BINANCE
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">BINANCE</a>
							<a class="dropdown-item" href="#">BITMEX</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							BTC/USDT
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">BTC/USDT</a>
							<a class="dropdown-item" href="#">BTC/USDT</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="fas fa-cog"></i>
						</a>
						<div class="dropdown-menu move-left" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">EXCHANGES</a>
							<a class="dropdown-item" href="#">TRADING PAIRS</a>
							<a class="dropdown-item" href="#">ACCOUNTS</a>
							<a class="dropdown-item" href="#">REPORTS</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="far fa-question-circle"></i>
						</a>
						<div class="dropdown-menu move-left" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">SUPPORT</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="col-12 justify-content-center align-items-center">
				<label class="checkbox-inline toggle-box">
					<input type="checkbox" data-toggle="toggle" data-on="TRADING" data-off="SIMULATION" data-size="mini">
				</label>
				<label class="checkbox-inline toggle-box">
					<input type="checkbox" data-toggle="toggle" data-off="MANUAL" data-on="ROBO" data-size="mini">
				</label>
			</div>
		</div>

		<div class="row order-book">
			<div class="col-12">
				<table id="orders-book">
					<tr>
						<th>
							Price (USDT)
						</th>
						<th>Amount (BTC)</th>
						<th>Total</th>
					</tr>
					<tr class="orders-ask">
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr class="orders-ask">
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr class="orders-ask">
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr class="orders-last-trade">
						<td>&nbsp;</td>
						<td>2</td>
						<td>&nbsp;</td>
					</tr>
					<tr class="orders-bid">
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr class="orders-bid">
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>
					<tr class="orders-bid">
						<td>1</td>
						<td>2</td>
						<td>3</td>
					</tr>

				</table>
			</div>
		</div>
		<div class="row position-block">
			<div class="col-12">
				<form>
					<div class="row select-position">
						<div class="col-12">
							<button type="button" class="position active ask"><img src="~/img/bear.png" /></button>
							<label class="inner-text">POSITION</label>
							<button type="button" class="position bid"><img src="~/img/bull-gray.png" /></button>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<select id="order-type" class="form-control">
								<option>Limit</option>
								<option>Market</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<select id="order-lifetime" class="form-control">
								<option>Fill Or Kill</option>
							</select>
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<input type="number" class="form-control" placeholder="Price">
						</div>
						<div class="form-group col-md-6">
							<input type="number" class="form-control" placeholder="Amount">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<input type="number" class="form-control" placeholder="Stop Loss">
						</div>
						<div class="form-group col-md-6">
							<input type="number" class="form-control" placeholder="Take Profit">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="trailing-stop-select">
								<label class="form-check-label" for="trailing-stop-select">
									Use Trailing Stop
								</label>
							</div>
						</div>
						<div class="form-group col-md-6">
							<a href="">Related orders</a>
						</div>
					</div>

					<button type="button" class="btn btn-primary">OPEN</button>
					<button type="button" class="btn btn-primary">ADD</button>
					<button type="button" class="btn btn-primary">REDUCE</button>
				</form>
			</div>
		</div>
	<div class="row">
		<div class="col-12 justify-content-center align-items-center balance">
			<table class="balance">
				<tr>
					<th>BTC:</th>
					<th>&nbsp;</th>
					<th class="splitter">&nbsp;</th>
					<th>USDT:</th>
					<th>&nbsp;</th>
				</tr>
				<tr>
					<td>Available:</td>
					<td>10</td>
					<td class="splitter">&nbsp;</td>
					<td>Available:</td>
					<td>20</td>
				</tr>
				<tr>
					<td>Locked:</td>
					<td>10</td>
					<td class="splitter">&nbsp;</td>
					<td>Locked:</td>
					<td>20</td>
				</tr>
				<tr>
					<td class="summary"><strong>Total:</strong></td>
					<td class="summary">10</td>
					<td class="splitter summary">&nbsp;</td>
					<td class="summary"><strong>Total:</strong></td>
					<td class="summary">20</td>
				</tr>
			</table>
		</div>
	</div>

		<div clas="row advice-block">
			<div class="col-12 advice-block">
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg bid">B - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg bid">B - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg hold">H - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
				<div class="advice-msg ask">S - 2020-04-04 15:20:25 BINANCE BTC/USDT</div>
			</div>
		</div>

	</div>
</div>

@section Scripts{
	<script>
		function afterResize() {
			drawChart("BINANCE:BTCUSDT", "60", "1");
		}

		function drawChart(pair, interval, style) {
			var charth = document.getElementById('chart-container').clientHeight;
			var chartv = document.getElementById('chart-container').clientWidth;

			new TradingView.widget(
				{
					"height": charth,
					"width": chartv,
					"symbol": pair,
					"interval": interval,
					"timezone": "Etc/UTC",
					"theme": "dark",
					"style": style,
					"locale": "en",
					"toolbar_bg": "#f1f3f6",
					"enable_publishing": false,
					"withdateranges": true,
					"hide_side_toolbar": false,
					"allow_symbol_change": true,
					"container_id": "tradingview_bf836"
				}
			);
		}

		$(document).ready
		{
			drawChart("BINANCE:BTCUSDT", "60");
			window.addEventListener("resize", afterResize);
			$('.toast').toast('show');
		}
	</script>
}